{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Start a New Topic{% endblock %}</title>
</head>

<body>
    {% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Inventario</a></li>
    <li class="breadcrumb-item"><a href="{% url 'board_topics' board.pk %}">{{ board.name }}</a></li>
    <li class="breadcrumb-item active">Nuevo Producto</li>
    {% endblock %}
    
    {% block content %}
    <form method="post" novalidate>
        {% csrf_token %}
        {% include 'includes/form.html' %}
        <button type="submit" class="btn btn-success">Productos</button>
    </form>
    {% endblock %}
</body>

</html>